In [3]:
# import libraries necessary
import pandas as pd
import numpy as np
import seaborn as sns
# taking iris.csv into dataset
dataset = pd.read_csv('iris.csv')
dataset

     Sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
# Preprocessing the data i.e. 
# if there are zeroes in the data, replace them with NULL
# And replace NULL with medians of respective columns
dataset.iloc[:,:-1]=dataset.iloc[:,:-1].replace(0,np.nan)
dataset.iloc[:,:-1]=dataset.iloc[:,:-1].replace(np.nan,dataset.iloc[:,:-1].median())

In [5]:
# taking independent values as x
x = dataset.iloc[:,:-1].values

In [6]:
# taking dependent values as y
y = dataset.iloc[:, -1].values

In [7]:
# import train test split function to split the data
from sklearn.model_selection import train_test_split

In [8]:
# splitting the data such that 80% of data will be for training
# and remaining 20% of data will be for testing the model
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.2, random_state= 42)

In [9]:
# importing kNN classifier from sklearn module
from sklearn.neighbors import KNeighborsClassifier

In [10]:
# training the model with neighbours as 7
knn_class = KNeighborsClassifier(n_neighbors=7)
knn_class.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [11]:
#testing the model
knn_ypredict = knn_class.predict(x_test)

In [12]:
# importing accuracy score to test the accuracy of the model
from sklearn.metrics import accuracy_score
print("kNEIGHBORS         :",accuracy_score(y_test, knn_ypredict))

kNEIGHBORS         : 0.9666666666666667